:root {
    --bg: hsl(0 0% 90%);
    --bg-light: hsl(0, 0%, 100%);
    --bg-dark: hsl(0, 0%, 85%);
    --bg-gradient: linear-gradient(to bottom, var(--bg-light), var(--bg));
    --text: hsl(0, 0%, 10%);
    --text-muted: hsl(0 0% 20%);
    --border: hsl(0, 0%, 40%);
    --shadow: hsla(0 0% 0% / 0.35);
    --primary: hsl(210 100% 75%);
    --secondary: hsl(224 100% 67.6%);
    --gradient: linear-gradient(to bottom right, var(--primary), var(--secondary));
    --radius: 20px;
}

body {
    font-family: Arial, sans-serif;
    background: var(--gradient);
    background-size: 100% 100%;
    background-position: center;
    height: 100dvh;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.wrapper {
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    box-sizing: border-box;
}

.overview {
    background: var(--bg-gradient);
    max-width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: 2px 2px 10px var(--shadow);
    margin-top: 30px;
}

h1 {
    font-weight: normal;
    color: var(--text);
    padding: 1px 1px 1px 30px;
    text-align: left;
}

button {
    background: var(--gradient);
    border-radius: var(--radius);
    border: none;
    padding: 10px 15px;
    margin-left: -40px;
    margin-top: 10px;
    color: var(--bg);
    font-weight: bold;
}

input {
    background: var(--bg-dark);
    border-radius: var(--radius);
    border: none;
    color: var(--text);
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: 25px;
    width: 300px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: var(--text);
}

ul {
    list-style: none;
    padding: 20px 10px 10px 10px;
}

li {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: var(--secondary);
}

li button {
    padding: 10px;
    scale: 0.75;
    margin-left: auto;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.done {
    text-decoration: line-through;
    color: #888;
}

a {
    font-weight: bold;
    color: var(--secondary);
}

p,
h5 {
    color: var(--text-muted);
    padding-left: 30px;
}

@media (max-width: 600px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .overview {
        padding: 6px;
    }

    input {
        width: 200px;
        margin-left: 0;
    }

    button {
        margin-left: 0;
    }

    p,
    h5 {
        padding-left: 10px;
    }
}
